:root {
    --primary-color: white;
    --secondary-color: lightslategray;
    --tertiary-color: gray;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: var(--primary-color);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    padding: 20px 40px 20px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.title h1{
    font-size: 40px;
    padding: 2% 2px 0 2px;
    text-shadow: 2px 2px black;
}

.title a {
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.title a:hover {
    color: darkgrey;
    text-shadow: 2px 2px black;
}

.title ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.title ul li {
    padding: 0 5px 0 5px;
}

.subtitle {
    display: flex;
    justify-content: right;
    padding: 50px 100px 50px 0;
    font-size: 25px;
    /* background from https://www.pexels.com/photo/wall-bricks-220182/ - free use license */
    background-image: url("../images/subtitle-background.jpeg")
}

.subtitle h2 {
    background-color: var(--secondary-color);
}

.side-heading {
    width: 20%;
    padding-left: 2%;
    font-size: 34px;
    margin: auto;
}

.cat-content {
    width: 80%;
    display: flex;
    border-left: 3px solid black;
}

/* About me */
article {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

article img {
    border-radius: 8px;
    max-width: 100%;
    margin: auto;
    padding: 0 5px 0 5px;
}

article p {
    margin: auto;
}

/*Work */
main {
    display: flex;
}

main .cat-content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.primary-container {
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 10%;
    width: 100%;
}

.primary-work-sample img {
    max-width: 700px;
    height: auto;
    border: 5px solid var(--tertiary-color);
    border-radius: 10px;
}

.primary-work-sample img:hover {
    border: 5px solid black;
}

.primary-work-sample p {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    position: absolute;
}

.secondary-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.secondary-work-sample {
    width: 250px;
    height: 250px;
    display:flex;
    flex-wrap: wrap;
}

.secondary-work-sample p {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 15px;
    position: absolute;
}

.secondary-work-sample img {
    max-width: auto;
    max-height: 250px;
    border: 4px solid var(--tertiary-color);
    border-radius: 10px;
}

.secondary-work-sample img:hover {
    border: 4px solid black;
}

.first-ex {
    background-image: url("../images/work-mod-imbuedweapons.png");
}

.second-ex {
    background-image: url("../images/work-mock-runbuddy.png");
}

/*Contact */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0 0 0;
    background-color: var(--secondary-color);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}

.social-icon {
    max-width: 90px;
}

.social-icon:hover {
    max-width: 100px;
}

@media screen and (max-width: 980px) {

    .primary-work-sample img {
        max-width: 400px;
        height: auto;
    }

    .secondary-work-sample img {
        width: auto;
        max-height: 150px;
    }
}

@media screen and (max-width: 768px) {

    .title h1 {
        align-items: center;
    }

    main a {
        width: 300px;
        height: 300px;
    }

    .mod-vpa

    .secondary-samples {
        width: 150px;
        height: 150px;
    }

    .work-img div {
        bottom: 75%;
    }

    .social-icon {
        max-width: 50px;
    }
}

@media screen and (max-width: 575px) {
    .title ul {
        flex-direction: column;
    }

    .title ul li {
        margin-bottom: 5px;
    }

    .subtitle {
        height: 50px;
    }

    .side-heading {
        text-align: center;
        width: 100%;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .cat-content {
        border-left: 0;
        width: 100%;
        border-bottom: 2px solid black;
        justify-content: center;
    }

    article {
        flex-direction: column;
        justify-content: center;
        padding: 1% 0 0 0;
    }

    main {
        flex-direction: column;
    }

    main .cat-content {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        justify-content: center;
    }

    .primary-work-sample img {
        max-width: 300px;
    }

    .primary-work-sample p {
        font-size: 14px;
    }

    .secondary-container {
        justify-content: center;
    }

    .secondary-work-sample img {
        max-height: 120px;
    }

    .secondary-work-sample p {
        font-size: 10px;
    }

    .footer-content {
        justify-content: space-evenly;
    }

}